.aboutus {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  align-items: center;
}

.aboutus p {
  text-align: center;
  width: 50%;
}

.ourstory_box,
.ourstore_box {
  display: flex;
  background-color: #f9fafa;
  padding: 95px 10% 95px 10%;
  align-items: center;
  justify-content: space-between;
}

.ourmission_box {
  border: 0px solid gray;
  display: flex;
  padding: 95px 10% 95px 10%;
  align-items: center;
  justify-content: space-between;
}

#aboutus_imgs {
  width: 700px;
  height: auto;
  max-height: 430px;
}

/* Transitions */

.topbanner {
  display: flex;
  height: 600px;
  opacity: 0.9;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('https://images.unsplash.com/photo-1616933067642-ac31e646d4f1?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position-y: 20px;
  background-size: cover;
  background-blend-mode: darken;
  /* background: filter: brightness(40%); */
  color: #f9fafa;
}

.hidden {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1000ms ease-out, transform 500ms ease-out, visibility 1000ms ease-out;
}

.show {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* --------------------------------------------------------- Media screen */
@media (max-width: 987px) {
  .ourstory_box, .ourmission_box, .ourstore_box {
    flex-direction: column;
  }

  .col-5,
  .col-6 {
    text-align: center;
  }

  .col-5 {
    order: 2;
    padding-top: 30px;
  }
}