.banner-container-fluid {
    width: 100%;
    overflow: hidden;
}

.page-content {
    margin-top: 60px;
}

.catTitle {
    text-align: center;
    padding: 10px;
    margin: 60px 0 60px 0;
}

.catHeading {
    position: relative;
}

.catHeading::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 2px;
    background-color: black;
    bottom: -2px;
    left: 40%;
}

.catDiv {
    padding: 10px;
    margin: 40px 0 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.card{
    width: 25rem;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}