.banner-container-fluid {
    width: 100%;
    overflow: hidden;
}

.catTitle {
    text-align: center;
    padding: 10px;
}

.catHeading {
    position: relative;
}

.catHeading::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 2px;
    background-color: black;
    bottom: -2px;
    left: 40%;
}

.catDiv{
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}