/* Fonts */



/* Main */
.container {
  flex: 1;
  flex-direction: row;
  margin: auto;
  margin-top: 110px;
  margin-bottom: 160px;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 80%;
  height: 1150px;
  background-color: #f9fafa;
}

/* Left: Details */
.details-left {
  width: 35%;
  float: left;
  padding-left: 8%;
  padding-right: 4.5%;
}

/* input, option, select{
    height: 25px;
    width: 100%;
    background-color: #FAFAF9;
    border: 1px solid #2e2e2e;
} */


option, 
select {
  height: 25px;
  width: 100%;
  background-color: #FAFAF9;
  border: 1px solid #2e2e2e;
}

textarea {
  width: 90%;
  background-color: #f9fafa;
  /* color: #6e5e4f; */
  border: 1px solid #2e2e2e;
}

.form-group {
  margin-top: 20px;
}

.sub-left {
  width: 90%;
  float: left;
  flex-direction: column;
}

option {
  font-family: 'Lato', sans-serif;
}



/* Right: Cart */
.cart-right {
  width: 35%;
  float: right;
  padding-left: 4.5%;
  padding-right: 8%;
}

.cartItem {
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
  /* background-color: blue; */
}

.title-left {
  width: 45%;
  float: left;
}

.icon-right {
  width: 45%;
  float: right;
  margin: auto;
  margin-top: 3.2%;
}

.stepper {
  display: flex;
  align-items: center;
}

.top {
  width: 100%;
  flex-direction: row;
}

.bottom {
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 15%;
}

.price {
  margin-left: 20%;
  float: right;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-top: 10%; */
}

.total-left {
  width: 45%;
}

.total-right {
  width: 45%;
  text-align: right;
  margin-right: 6%;
}

.totalprice-right {
  width: 45%;
  text-align: right;
  margin-right: 6%;
  margin-top: -6px;
}

#pay {
  width: 101%;
  height: 35px;
}

#redeem {
  width: 100%;
  height: 35px;
}

#note {
  width: 100%;
  height: 100px;
}

/*Place order button*/

.order-btn {
  background-color: #213555;
  color: white;
  border-radius: 0;
  width: 35%;
  height: 40px;
  border: none;
  margin-top: 100px;
  float: left;
}

.check {
  text-align: left;
  width: 100%;
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: #2e2e2e;
  font-size: 14px;
  border-radius: 0;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 0;
}

.checkmark {
  position: absolute;
  margin-top: 2.5px;
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.check:hover input~.checkmark {
  background-color: #ccc;
}

.check input:checked~.checkmark {
  background-color: #213555;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked~.checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 4px;
  top: 1.5px;
  width: 5.5px;
  height: 8px;
  border: solid white;
  border-width: 0 2.4px 2.4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}