.contactUs input[type=submit] {
  padding: 13px;
  float: right;
  width: 150px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  height: 50px;
  border: 1px solid #213555;
  background-color: #213555;
  color: #FAFAF9;
  font-family: 'Lato', sans-serif;
}

.contactUs input[type=text]{
  width: 100%;
  padding: 15px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  border: 1px solid #213555;
  height: 25px;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
}

.contactUs input[type=email]{
  width: 100%;
  padding: 15px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  border: 1px solid #213555;
  height: 25px;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
}

.contactUs textarea{
  width: 350px;
  padding: 15px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  border: 1px solid #213555;
  background-color: #ffffff;
  color: #213555;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
}

/* Main */
.container{
  flex: 1;
  flex-direction: row;
  margin: auto;
  margin-top: 60px;
  padding-top: 80px;
  padding-bottom: 100px;
  width: 70%;
  height: 1000px;
  /* background-color: #FAFAF9; */
}

.contact_header{
  float: right;
  text-align: right;
  margin-bottom: 30px;
}

.image{
  width: 45%;
  float: left;
  margin-left: 2%;
}

.image img{
  /* height: 580px; */
  width: 100%;
}

.contactUs{
  width: 40%;
  float: right;
  margin-right: 2%;
}