.login-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    text-align: center;
}

.login{
    width: 50%;
    padding: 20px;
}

.login-header {
    margin-bottom: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.login label {
    display: block;
    margin-bottom: 5px;
}

.login input {
    width: 100%;
    padding: 10px;
    border: 1px solid #213555;
    color: #213555;
}

.login a {
    display: inline-block;
    color: inherit;
}

.login .btn {
  padding: 15px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  height: 50px;
  width: 100px;
  border: 1px solid #213555;
  background-color: #213555;
  color: #ece2d6;
}

.container {
    text-align: left;
    width: 100%;
    display: block;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #2e2e2e;
    font-size: 12px;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #213555;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 5px;
    top: 1.5px;
    width: 3.5px;
    height: 7px;
    border: solid white;
    border-width: 0 2.4px 2.4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
