.page-content {
	margin-top: 60px;
	/* padding-bottom: 50px; */
}

.Cart-Items {
	position: relative;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #a8a8a8;
	padding-top: 40px;
	padding-bottom: 40px;
}

.last-item{
	border-bottom: 1px solid #a8a8a8;
}

.image-box {
	width: 22%;
	text-align: center;
}

.about {
	width: 100%;
	margin-left: 20px;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	background: none;
	color: #000;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*------------------------------------------- Quantity Button*/
button:focus,
input:focus {
	outline: none;
	box-shadow: none;
}

.qty-container {
	display: flex;
	align-items: center;
	margin: 50px 0 50px 0;
}

.quantity-box {
	display: flex;
	align-items: center;
	border: 1px solid #d4d4d4;
	border-radius: 50px;
	padding: 3px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
	border: none;
	padding: 8px;
	font-size: 10px;
	cursor: pointer;
	margin: 0;
	background-color: transparent;
}

.qty-container .input-qty {
	text-align: center;
	border: none;
	max-width: 120px;
	background-color: transparent;
}

/* ------------------------------------------- Total Amount div */
.checkout {
	float: right;
	width: 30%;
}

.checkout-btn {
	background-color: #213555;
	color: white;
	border-radius: 0;
	width: 35%;
	height: 40px;
	border: none;
	float: right;
}

table {
	margin-top: 50px;
	width: 100%;
	border-collapse: collapse !important;
}

td {
	padding: 8px;
}

td:first-child {
	text-align: left;
}


/* Override Bootstrap's border-bottom-width for all rows */
table tr td {
	border-bottom-width: 0 !important;
  }

td:last-child {
	text-align: right;
}