a {
  text-decoration: none;
  color: inherit;
}

.add-to-cart-btn {
  background-color: #213555;
  color: white;
}

.page-content {
  margin-top: 60px;
}

.productImg_div {
  margin-right: 100px;
}

.product_des_div {
  margin-top: 30px;
}

/*-------------------------- Banner*/
.topbanner {
  display: flex;
  height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-image: url('https://i.ytimg.com/vi/nM2sBqNeTAI/maxresdefault.jpg');
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.topbanner_text h1{
  color: #2e2e2e;
} 

/*-------------------------- Quantity Button*/
button:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

.qty-container {
  display: flex;
  align-items: center;
  margin: 50px 0 50px 0;
}

.quantity-box {
  display: flex;
  align-items: center;
  border: 1px solid #d4d4d4;
  border-radius: 50px;
  padding: 3px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
  border: none;
  padding: 8px;
  font-size: 10px;
  cursor: pointer;
  margin: 0;
  background-color: transparent;
}

.qty-container .input-qty {
  text-align: center;
  border: none;
  max-width: 50px;
  background-color: transparent;
}