.topbanner {
  height: 300px;
}


.page-content {
  margin-top: 60px;
}

.switchesTitle {
  text-align: left;
  margin: 60px 0 60px 0;
}

.switchesHeading {
  position: relative;
}

.switchesHeading::before {
  content: '';
  position: absolute;
  width: 15%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  bottom: -3px;
  left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.productDiv {
  margin: 40px 0 0 0;
  padding: 10px;
}

.card {
  width: 400px;
  margin: auto;
  display: inline-block;
}

.card-body {
  justify-content: center;
  align-items: center;
  height: 9rem;
}

@media screen and (max-width: 1615px) {

  .card,
  .card-body {
    width: 300px;
    height: 9rem;
  }
}

@media screen and (max-width: 1265px) {

  .card,
  .card-body {
    width: 200px;
    height: 12rem;
  }

  .col {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 920px) {

  .card,
  .card-body {
    width: 300px;
    height: 9rem;
  }

  .col-sm-12 {
    padding-bottom: 30px;
  }

}