body{
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom right, #E3F0FF, #fff8e7);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.thank-you {
	 font-family: 'Cambria';
    font-size: 35px;
    text-align: center;
}
